*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0b0f17;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 60px;

background:#111827;

}

.logo h1{

color:#00d084;

font-size:34px;

}

nav ul{

display:flex;

list-style:none;

gap:25px;

}

nav a{

color:white;

text-decoration:none;

font-size:17px;

transition:.3s;

}

nav a:hover{

color:#00d084;

}

header{

text-align:center;

padding:120px 20px;

}

header h2{

font-size:55px;

margin-bottom:20px;

}

header p{

font-size:22px;

color:#cbd5e1;

line-height:35px;

}
